{
  "customFields": [
    {
      "name": "Department",
      "refId": "department",
      "visible": true,
      "required": true,
      "helpText": "Provide a department"
    },
    {
      "name": "Phone",
      "refId": "phone",
      "visible": true,
      "required": false,
      "helpText": "Phone number"
    }
  ]
}
